<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prove 01 Form</title>
</head>
<body>
  <h2>Subscription is Created</h2>
  
    <p> Full name: <%=fname%> <%=lname%> </p>
    <p> Email: <%=email%> </p>
    <p> Address: <%=address%> </p>
    <p> Phone number: <%=phone%> </p>

</body>
</html>
